---
import { Head } from '../components';
import '../styles/global.css';
---
<html>
  <Head />
  <body>
    <aside><slot name="sidebar"/></aside>
    <section>
      <header><slot name="topbar"/></header>
      <main><slot /></main>
    </section>
  </body>
</html>

<style>
  body{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: baseline ;
  }

  aside {

  }

  main {

  }
</style>